*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
font-family: sans-serif;
background-color: #A8E7FF;
}

.menu-bar{
    background: #C4CFD3;
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: black;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color:black;
}

.active, .menu-bar ul li:hover{
    background: #9B9B9B;
    border-radius: 3px;
}

.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #C4CFD3;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin:10px;
}

.content{
    padding-left: 10%;
    Padding-right: 10%;
    margin-top: 20px;
}

video{
    max-width: 1200px;
}

img{
    max-width: 1200px;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 40px;
}

p, b{
    font-size: 25px;
}

